@use '@/styles/abstracts/mixins/media-query' as *;

.notification {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 300px;
	width: 100%;
	line-height: 1.2;
	padding: 15px;
	border-radius: 4px;
	top: 70px;
	font-size: 14px;
	color: #e9e3e3;
	z-index: 1000;
	box-shadow: var(--box-shadow);
	font-family: 'Inter-bold';
	right: 10px;

	@include breakpoint-down('xs') {
		left: 20px;
		right: 20px;
	}
}

.progressBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	border-radius: 3px;
	background-color: #c2c2c2;
	animation: progress 5s linear;
}

i[class*='fa-circle-exclamation'],
i[class*='fa-circle-check'] {
	margin-right: 5px;
}

@keyframes progress {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}

.success {
	background-color: #158015;
}

.error {
	background-color: #b30c0c;
}

.notificationEnter {
	transform: translateX(100%);
	opacity: 0;
}

.notificationEnterActive {
	transform: translateX(0);
	opacity: 1;

	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notificationExit {
	transform: translateX(0);
	opacity: 1;
}

.notificationExitActive {
	transform: translateX(100%);
	opacity: 0;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
