// dark-colors theme
$bg-color-dark: #0e0d0d;
$bg-fields-color-dark: #27272a;
$bg-button-color-dark: #fafafa;
$primary-color-dark: #fbfbfe;
$secondary-color-dark: #19191a;
$border-color-dark: #585858;
$bg-sidebar-dark: #202027;
$box-shadow-dark: 7px 9px 16px -4px rgba(138, 30, 30, 0.82);

// light-colors theme
$bg-color-light: #fcfcfc;
$bg-fields-color-light: #f4f4f5;
$bg-button-color-light: #18181b;
$primary-color-light: #0c0c0c;
$secondary-color-light: #dcdcdf;
$border-color-light: #888787;
$bg-sidebar-light: #bababe;
$box-shadow-light: 7px 9px 16px -4px rgba(146, 141, 141, 0.82);
